body {
    
    background-color: lightcyan;
    margin-top: 45px;
}
.container
{
    font-family: algerian;
    text-align: center;
}
.center {
    text-align:center;
    margin-top:75px;
}

.text-big {
    font-size: 350%;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.content{
     
    font-family: arial black;
    font-size:100;
    margin-left:100px;
    margin-bottom:200px;
    
}
.jo{
    font-family: courier new bold;
    font-size:200;
    margin-left:300px;
}
.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text--flow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: inline;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 30;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.butto{
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 50px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text--flow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: inline;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px;
    margin-top: -120%;
    opacity: 30;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



