body {
    
    background-color: lightgrey;
    margin-top: 45px;
}
.container
{
    font-family: algerian;
    text-align: center;
}
.center {
    text-align:center;
    margin-top:75px;
}

.text-big {
    font-size: 350%;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.content{
     
    font-family: arial black;
    font-size:100;
    margin-left:100px;
    margin-bottom:200px;
    
}
.jo{
    font-family: courier new bold;
    font-size:200;
    margin-left:300px;
}


